@page
@model DotNetProject_Team5_Armoire.Pages.EditItem.IndexModel


<h1>Edit Item</h1>

<h4>Clothing Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClothItem.Id" />
            <div class="form-group">
                <label asp-for="ClothItem.ClothName" class="control-label"></label>
                <input asp-for="ClothItem.ClothName" class="form-control" />
                <span asp-validation-for="ClothItem.ClothName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClothItem.PictureUri" class="control-label"></label>
                <input asp-for="ClothItem.PictureUri" class="form-control" />
                <span asp-validation-for="ClothItem.PictureUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClothItem.CategoryId" class="control-label"></label>
                <input asp-for="ClothItem.CategoryId" class="form-control" />
                <span asp-validation-for="ClothItem.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClothItem.IsClean" class="control-label"></label>
                <input asp-for="ClothItem.IsClean" class="form-control" />
                <span asp-validation-for="ClothItem.IsClean" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Dashboard">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
