@page
@model DotNetProject_Team5_Armoire.Pages.EditItem.IndexModel
    <div class="table-container pt-0">
        <div class="w-75 mx-auto m-5">
            <h2>Edit Item</h2>
            <div class="border p-2">
                <form method="post">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ClothItem.Id" />

                            <div class="form-group">
                                <label asp-for="ClothItem.ClothName" class="control-label"></label>
                                <input asp-for="ClothItem.ClothName" class="form-control" />
                                <span asp-validation-for="ClothItem.ClothName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ClothItem.CategoryId" class="control-label"></label>
                                <input asp-for="ClothItem.CategoryId" class="form-control" />
                                <span asp-validation-for="ClothItem.CategoryId" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <label asp-for="ClothItem.IsClean" class="control-label"></label>
                                <input asp-for="ClothItem.IsClean" class="form-control" />
                                <span asp-validation-for="ClothItem.IsClean" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group col-md-6 text-center">
                            <label asp-for="ClothItem.PictureUri" class="control-label"></label>
                            <input asp-for="ClothItem.PictureUri" class="form-control" />
                            <span asp-validation-for="ClothItem.PictureUri" class="text-danger"></span>
                            <img src=@Model.ClothItem.PictureUri style="width:200px; height:200px" ; />
                        </div>
                    </div>
                    <div class="form-group pt-4 text-center">
                        <input type="submit" value="Save" class="btn btn-primary" asp-roue-id="@Model.ClothItem.Id" />
                        <a asp-page="../Dashboard" class="btn btn-secondary">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
