@page
@model DotNetProject_Team5_Armoire.Pages.CarouselModel
@{
}


<div class="container" style="text-align: center;">
    @* ------------- TOPS ------------- *@
    <h3>@Model.Categories[0].Name</h3>
    <div id="topsCarousel" class="carousel slide" data-bs-ride="carousel" style="max-width: 50%; margin: 0 auto;">
        <div class="carousel-inner">
            @foreach (var product in Model.Tops)
            {

                if (product == Model.Tops[0])
                {
                    <div class="carousel-item active">
                        <img src=@product.PictureUri class="d-block w-100" alt="...">
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img src=@product.PictureUri class="d-block w-100" alt="...">
                    </div>
                }

            }
        </div>
    </div>
    <a class="carousel-control-prev" href="#topsCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden text-black-50">Previous</span>
    </a>
    <a class="carousel-control-next" href="#topsCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden text-black-50">Next</span>
    </a>

    @* ------------- BOTTOMS ------------- *@
    <h3>@Model.Categories[1].Name</h3>
    <div id="bottomsCarousel" class="carousel slide" data-bs-ride="carousel" style="max-width: 50%; margin: 0 auto;">
        <div class="carousel-inner">
            @foreach (var product in Model.Bottoms)
            {
                if (product == Model.Bottoms[0])
                {
                    <div class="carousel-item active">
                        <img src=@product.PictureUri class="d-block w-100" alt="...">
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img src=@product.PictureUri class="d-block w-100" alt="...">
                    </div>
                }
            }
        </div>
        <a class="carousel-control-prev" href="#bottomsCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#bottomsCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>


<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Armoire - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>