@page
@model DotNetProject_Team5_Armoire.Pages.DashboardModel
@{
    <div class="table-container">
        <h2>Your Closet</h2>
        <button><a asp-page="/AddItem/Index">Add Item</a></button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Clothing</th>
                    <th scope="col">Category</th>
                    <th scope="col">Cleanliness</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            
                @if(Model.Clothes != null && Model.Clothes.Any())
                {

                    @foreach (var product in Model.Clothes)
                    {
                <tr>
                    <td><img src=@product.PictureUri /></td>
                    <td>@product.ClothName</td>

                    @if (product.CategoryId == 1)
                    {
                        <td>Top</td>
                    }
                    else
                    {
                        <td>Bottom</td>
                    }

                    @if (@product.IsClean)
                    {
                        <td>Clean</td>
                    }
                    else
                    {
                        <td>Not Clean</td>
                    }
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                    <td>
                        <button type="button" class="btn btn-danger">
                            <a asp-page="/DeleteItem" asp-route-id="@product.Id">Delete</a>
                        </button>
                    </td>

                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
