@page
@model DotNetProject_Team5_Armoire.Pages.DashboardModel
@{
    <div class="table-container">
        <h2>Your Closet</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ticket Details</th>
                    <th scope="col">Category</th>
                    <th scope="col">Last Washed</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Image</th>
                    <td>Read Sweater</td>
                    <td>May 26th, 2019</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                    <td><button type="button" class="btn btn-danger">Delete</button></td>
                </tr>
                <tr>
                    <th scope="row">Image</th>
                    <td>Read Sweater</td>
                    <td>May 26th, 2019</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                    <td><button type="button" class="btn btn-danger">Delete</button></td>
                </tr>
                <tr>
                    <th scope="row">Image</th>
                    <td>Read Sweater</td>
                    <td>May 26th, 2019</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                    <td><button type="button" class="btn btn-danger">Delete</button></td>
                </tr>
                @foreach (var product in Model.Clothes)
                {
            <tr>
                <th></th>
                <td>@product.ClothName</td>
                <td>@product.Category.Name</td>
                <td>@product.IsClean</td>
                @*<img src="@product.PictureUri" class="d-block w-100" alt="...">*@
            </tr>
                }
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
}
