@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home page";
}

<div class="landing">
    @* ------------------ NAVBAR ----------------------- *@
    @section Head{
        <style>
            body {
                background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("/images/hero-img-lg.jpg");
                background-size: cover;
                height: 500px;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
            }

           a, button, footer, .navbar{
               color:white !important
           }
            
        </style>
    }
<div class="welcome-wrapper">
    <div>
        Welcome to
        <h1>Armoire</h1>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="container about">
            Keep an inventory of your clothes virtually and let us help you cut your decision making time down.
        </div>

    }
    else
    {
        <div>
            <a class="text-white" asp-area="Identity" asp-page="/Account/Register">Register</a> | <a class="text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
        <div class="container about">
            Keep an inventory of your clothes virtually and let us help you cut your decision making time down.
        </div>
    }

</div>
</div>
