@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="landing">
    <!-- Navbar to go here -->

    <div class="welcome-wrapper">
        <div>
            Welcome to
            <h1>Armoire</h1>
        </div>
        <div>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a> | <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>

</div>
