@model DashboardModel

@foreach( var categ in Model.Categories){ 

<form>
    <input type="hidden" value="@categ.Id" asp-for=CategoryId />
    <button type="submit" class="@(@categ.Id == 1 ? "categ-btn top-btn" : "categ-btn")">@categ.Name</button>
</form>
}