@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="confirm-email-container">
    <h1>Your account has been confirmed </h1>
    <h5>Login to Add items to your closet!</h5>
</div>