@page
@model RegisterModel
@{
    ViewData["Title"] = "Armoire";
}
@section Head{
    <style>
        body {
            background: url("/images/register-lg.jpg");
            background-size: cover;
            height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
        }

        a, button, footer, .navbar {
            color: white !important
        }
    </style>
}

@section Banner {
    <header>
    </header>
}

<div class="register-page">
    <div class="container-fluid">
        <h1 class="text-center text-white pt-2">@ViewData["Title"]</h1>
        <br />
        <div class="mx-auto reg-form">
            <h2 class="text-white">Register</h2>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="register-form py-1 px-5">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-secondary w-50">Register</button>
                </div>
                <div class="form-group text-center">
                    <p>
                        <span>Already with Armoire?</span>
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
