@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Confirmation";
}

<div class="confirm-email-container">
    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                <a id="confirm-link" href="@Model.EmailConfirmationUrl">
                    <button class="btn btn-outline-secondary p-2">Click here to confirm your account</button>
                </a>
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</div>