/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #4F4F4F;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #666;
  border-color: #1861ac;
}

/*footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/*footer styles
-------------------------------------------------- */
.footer {
    border-top: 1px solid #dee2e6 !important;
}

.footer-copyright, .footer-social{
    text-align:center;
}

@media (min-width: 768px) {
    .footer-copyright{
        text-align:left;
    }

    .footer-social{
        text-align:right;
    }
}
/*  ------- INDEX -------- */
.welcome-wrapper {
    text-align: center;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    height :40vh;
}

.about {
    background: rgba(196, 196, 196, 0.34);
    padding: 2em 1.5em;
    width: 70%;
    margin: 2em auto;
}

/*-------- LOGIN ----------*/
.login-form {
    background: rgba(255,255,255,0.7);
}

.register-page a, .login-page a{
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: #000;
}
.login-background {
    width:50%;
}
.login-page {
    height: 90vh;
}


@media (max-width: 500px) {
    .login-background {
        width:100%;
    }
}
/*-------- REGISTER ----------*/
.register-form {
    background-color: rgba(255, 255, 255,0.6);
}

/*---------- DASHBOARD ----------*/
.table-container {
    padding: 100px 100px;
} 

#alert-div tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#alert-div .a-button, #alert-div a {
    min-width: 120px;
}
@media (max-width: 500px) {
    .table-container {
        padding: 30px 30px;
    }
}

.category-filters {
    display: flex;
    padding: 8px;
    margin: auto;
    width: max-content;
}
    
.categ-btn {
    border: none;
    background: inherit;
}

.categ-btn:focus {
    outline: none;
}

.top-btn {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    margin: 0 3px;
}

.pagination-nav-item {
    text-align: center;
}

.table {
    border-bottom: 1px solid #dee2e6;
}

@media (max-width: 500px) {
    .td-none {
        display: none;
    }
}


/*---------- ADD ITEM ----------*/
.add-item-container {
    padding: 100px 100px;
    max-width:200%
}
.add-item-flex-container {
    display: flex;
    justify-content: space-evenly;
}
.image-container {
    padding-top: 100px;
}
@media (max-width: 500px) {
    .add-item-flex-container {
        display: inline-block;
    }
    .image-container {
        padding: 50px 100px;
    }
}

/*---------- FORGOT PASSWORD ----------*/
.forgot-password {
    padding: 100px 100px;
}
.forgot-password-content {
    text-align: center;
}
.row {
    justify-content: center;
}


/*-------- CAROUSEL ----------*/
.carousel-img {
    object-fit: cover;
    height: 20em;
    width: auto;
    margin: 0 auto;
}

.btn-size {
    top: 50%;
    bottom: unset;
}


/*-------- GENERAL ----------*/
.a-button {
    color: white;
    border: 1px solid #4F4F4F;
    padding: 6px 20px;
    margin: 10px;
    border-radius: 6px;
    background: #4F4F4F;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.fa-user {
    border: 1px solid white;
    border-radius: 4em;
    padding: 1em;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

/*Confirm email */
.confirm-email-container {
    padding: 100px 100px;
    text-align:center;
}


/*---------- LOGOUT ----------*/
.logout {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    padding-top: 100px;
}


/*Manage Account*/
.manage-button{
    background-color:#666;
}

.manage-page{
    padding-top: 5em;
}
.is-disabled {
    opacity: .5;
    pointer-events: none;
}