@page
@model DotNetProject_Team5_Armoire.Pages.ItemAddedNotification.IndexModel
@{
}

<h1>Item Successfully Added</h1>
<button type="button" class="btn btn-secondary">Add More</button>
<button type="button" class="btn btn-secondary">Go to Dashboard</button>

