@page
@model DotNetProject_Team5_Armoire.Pages.ItemAddedNotification.IndexModel
@{
}
<div class="container item-added">
    <h1>Item Successfully Added!</h1>
    <div class="btn-cont">
        <button type="button" class="btn btn-secondary"><a asp-page="/AddItem/Index">Add More</a></button>
        <button type="button" class="btn btn-secondary"><a asp-page="/Dashboard">Go to Dashboard</a></button>
    </div>
</div>

